HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

.env

/keys/
*.json
!src/main/resources/seed/
!src/main/resources/seed/canonical_ingredients.json
!src/main/resources/seed/canonical_ingredient_aliases.json
